@import "_links.scss";
@import "_form.scss";
.page-template-contact {
    position: relative;
    main.shapes {
        @include media($xl) {
            overflow: visible;
        }
        &:after {
            pointer-events: none;
            background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20version%3D%221.1%22%20viewBox%3D%220%200%20100%20100%22%3E%0A%3Ccircle%20cx%3D%2250%25%22%20cy%3D%2250%25%22%20r%3D%2250%22%20fill%3D%22%23"+ $color7 + "%22/%3E%0A%3C/svg%3E%0A");
            position: absolute;
            background-repeat: no-repeat;
            left: -55vw;
            opacity: 0.7;
            top: 60%;
            width: 100vw;
            bottom: 0;
            content: "";
            overflow: hidden;
            transition: all 0.2s ease-out;
            @include media($sm) {
                left: -12.5vw;
                top: 70%;
                width: 50vw;
            }
            @include media($md) {
                left: -25vw;
                width: 50vw;
                top: 55%;
            }
            @include media($lg) {
                left: -15vw;
                width: 50vw;
                top: 55%;
            }
            @include media($xl) {
                left: -25vw;
                width: 100vw;
                top: 40%;
            }
        }
    }
    main {
        position: relative;
        padding-bottom: 30px;
        max-height: 100%;
        overflow: hidden;
        @include media($sm) {
            padding-right: 5em;
            padding-left: 5em;
        }
        @include media($lg) {
            padding-right: 7.5em;
            padding-left: 7.5em;
        }
    }
}
.page_left,
.page_right {
    @include media($md) {
        // margin-top: 50px;
    }
}
section.form {
    // @extend .page_divider;
    transform: translate3d(0, 0, 0);
    animation: sfr 0.5s forwards ease-out;
    @include page-divider(40%);
    float: right;
    @include media(0px,$md) {
        // padding-top: 50px;
        max-width: 375px;
        margin: auto;
        float: none;
    }
    .complete_msg {
        display: none;
    }
}
section.socials {
    position: relative;
    transform: translate3d(0, 0, 0);
    animation: sfl 0.5s ease-out;
    @include page-divider(60%);
    @include media(0px,$md) {
        float: none;
        padding-top: 15px;
    }
    &:before {
        position: absolute;
        top: -1px;
        width: 90%;
        max-width: 375px;
        margin: auto;
        height: 1px;
        background: $primary_color;
        content: "";
        left: 0;
        right: 0;
    }
    @include media(0px,$md) {
        margin: 50px auto auto;
        max-width: 355px;
    }
    @include media($md) {
        margin-left: auto;
        &:before {
            content: none;
        }
        &:after {
            position: absolute;
            content: "";
            top: 30px;
            left: -30px;
            bottom: 20%;
            width: 1px;
            height: 100%;
            background: $primary_color;
        }
        .section_title {
            top: -15px;
            margin-top: 0;
        }
    }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 667px) and (orientation: landscape) {
    section.socials {
        margin-right: auto !important;
        margin-left: auto !important;
    }
    /// ? doesnt wrk
    .page-template-contact {
        main {
            &:after {
                top: 50% !important;
                left: -32% !important;
                width: 100vw !important;
            }
        }
    }
}