.contact_page_form {
    // padding: 0 3px;
    // max-width: 375px;
    // margin: auto;
}
.contact_form_row {
    &:first-of-type {
        margin-top: 0;
        text-align: justify;
    }
    max-width: 100%;
    margin: 15px;
    input ~ label {
        display: none !important;
    }
    label.error ~ input {
        border: 1px solid #e57373 !important;
    }
    input,
    textarea {
        width: 100%;
        font-size: 17px;
        text-indent: 15px;
        padding: 7.5px 22px;
        font-size: 18px;
        border-color: $color4;
        background: transparent;
        max-width: 315px;
    }
    input[type="submit"] {
        background: $color1;
        color: $text-color-dark;
        &:hover {
            cursor: pointer;
            background: rgba($primary_color,0.8);
            color: $text-color-light;
        }
    }
    textarea {
        font-family: 'Open Sans Hebrew';
        font-weight: normal;
    }
}
.contact_page_form_title {
    &:first-of-type {
        margin-top: 0;
    }
    font-size: 18px;
    text-align: center;
}
.form_button {
    border: 0;
    background: $color1;
    outline: none;
    color: $text-color-dark;
    text-indent: 0 !important;
    transition: background 0.2s ease-in-out;
    margin-top: 25px;
    border-radius: 2px;
    &:hover {
        cursor: pointer;
        background: $primary_color;
        color: $text-color-light;
    }
}
input.error {
    box-shadow: -1px 0 0 0 red;
}
.text {
    text-transform: uppercase;
}
.contact_msg {
    @extend .contact_form_row;
    text-align: center;
    font-weight: bold;
    direction: ltr;
    h5 {
        span {
            display: block;
        }
        position: relative;
        top: -50px;
        opacity: 0;
    }
}