.links {
    > .section_title {
        @include media($md) {
            position: relative;
            left: -30px;
        }
    }
    max-width: 375px;
    margin-right: auto;
    margin-left: auto;
    @include media($md) {
        margin: inherit;
        max-width: 100%;
        margin-top: 0;
    }
}
.contact_click_icons {
    @include media($md) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
    }
}
// pos
.link_item {
    margin: 15px 0;
    position: relative;
    min-height: 50px;
    .icon-sm {
        transform-origin: 50%;
        transform: scale(.85);
    }
    @include media(0px,$md) {
        // width: calc(50% - 30px);
        .link {
            position: absolute;
            right: 0;
        }
        .icon {
            width: 2em;
            height: 2em;
        }
        .text {
            position: absolute;
            left: 0;
        }
        .tag {
            position: absolute;
            top: -20px;
            font-size: small;
        }
    }
    @include media($md) {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        flex: 0 1 50%;
        .link,
        .tag,
        .text {
            margin: 10px 0;
        }
        .link {
            min-height: 60px;
        }
        .icon {
            width: 3em;
            height: 3em;
        }
    }
}
/// colors
.link_item {
    .tag {
        color: $color4;
        font-size: 13px;
    }
    .link {
        cursor: pointer;
        transition: all 0.2s ease-out;
        fill: $primary_color;
        &:hover {
            fill: $color1;
        }
    }
    .ltr {
        direction: ltr;
    }
}