.home_projects {
    @include media(0px,$md) {
        margin-top: 80px;
        .home_projects_title {
            display: block !important;
            flex: 1 0 100%;
        }
    }
    @include media($md) {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        padding: 50px 0;
    }
    @include media($xl) {
        .home_projects_title {
            display: block !important;
            flex: 1 0 100%;
        }
    }
}
.home_header_text {
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    text-shadow: 3px 3px 10px $color2;
    font-size: larger;
    letter-spacing: 2px;
    text-align: center;
    @include media(0px,$md) {
         @media all and (orientation:landscape){
            top: -10%;
        }
    }
    @include media($md) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        top: -10%;
    }
    h1 {
        @include media($md) {
            position: relative;
            top: 30px;
            font-size: 52px;
        }
    }
}
.project {
    cursor: pointer;
    @extend %shadow;
    @extend .rounded;
    height: 250px;
    position: relative;
    width: 100%;
    img {
        width: 100%;
        object-fit: cover;
        height: 200px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
    }
    a {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include underline($accent_color);
    }
    @include media(0px,$md) {
        margin: 30px 0;
    }
    @include media($md) {
        margin: 0 30px;
        flex: 1 0 calc(33% - 60px);
    }
    &:first-of-type {
        margin-right: 0;
    }
    &:last-of-type {
        margin-left: 0;
    }
}