.flex,
.row {
    display: flex;
}
.cols {
    flex-flow: column;
}
.wrap {
    flex-wrap: wrap;
}
.center {
    justify-content: center;
    align-items: center;
}
.space-between {
    justify-content: space-between;
}
