/* -----
SVG Icons - svgicons.sparkk.fr
----- */
.svg-icon,
.svg-icon2 {
    width: 1em;
    height: 1em;
}
.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: $color1;
}
.svg-icon circle {
    stroke: #4691f6;
    stroke-width: 1;
}
/* -----
TCONS
----- */
$tcon-size: 30px !default;
$tcon-transition: 0.1s !default;
$tcon-jstransform: 'tcon-transform' !default;
$tcon-menu-radius: ($tcon-size / 14) !default;
$tcon-menu-color: $accent_color !default;
$tcon-menu-arrowleft-transformation: ( transform: scale3d(.8, .8, .8) rotate3d(0, 0, 1, 90deg) ) !default;
$tcon-menu-arrow360left-transformation: ( transform: scale3d(.8, .8, .8) rotate3d(0, 0, 1, 360deg) ) !default;
.tcon {
    appearance: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: $tcon-size;
    transition: $tcon-transition;
    user-select: none;
    width: $tcon-size;
    background: transparent;
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    > * {
        display: block;
    }
    &:focus,
    &:hover {
        outline: none; // see issue #36 https://github.com/grayghostvisuals/transformicons/issues/36
    }
    &::-moz-focus-inner {
        border: 0;
    }
}
@mixin tcon-menu-lines {
    display: inline-block;
    height: ($tcon-size / 7);
    width: $tcon-size;
    border-radius: $tcon-menu-radius;
    transition: $tcon-transition;
    background: $tcon-menu-color;
}
.tcon-menu__lines {
    @include tcon-menu-lines;
    position: relative;
    &::after,
    &::before {
        @include tcon-menu-lines;
        content: '';
        position: absolute;
        left: 0;
        transform-origin: ($tcon-size / 14) center;
        width: 100%;
    }
    &::before {
        top: ($tcon-size / 4);
    }
    &::after {
        top: -($tcon-size / 4);
    }
    .#{$tcon-jstransform} & {
        transform: scale3d(.8, .8, .8);
    }
}
.tcon-menu--xbutterfly {
    width: auto;
    .tcon-menu__lines {
        &::after,
        &::before {
            transform-origin: 50% 50%;
            transition: top 0.15s 0.3s ease, transform 0.15s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
    }
    &.#{$tcon-jstransform} {
        .tcon-menu__lines {
            background: transparent;
            &::after,
            &::before {
                top: 0;
                transition: top 0.15s ease, transform 0.15s 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55);
                width: $tcon-size;
            }
            &::before {
                transform: rotate3d(0, 0, 1, 45deg);
            }
            &::after {
                transform: rotate3d(0, 0, 1, -45deg);
            }
        }
    }
}
// see issue #7 https://github.com/grayghostvisuals/transformicons/issues/7#issuecomment-59813596
.tcon-visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    &:active,
    &:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }
}
$tcon-svgchevron-size: $tcon-size !default;
$tcon-svgchevron-color: black !default;
$tcon-svgchevron-strokew: 1px !default;
$tcon-svgchevron-timing: 3s !default;
@keyframes chevron-pulse {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
.tcon-svgchevron {
    height: $tcon-svgchevron-size;
    width: $tcon-svgchevron-size;
}
.tcon-svgchevron path {
    animation: chevron-pulse $tcon-svgchevron-timing infinite cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
    stroke: $tcon-svgchevron-color;
    stroke-width: $tcon-svgchevron-strokew;
}
@for $i from 1 through 3 {
    .tcon-svgchevron path.a#{$i} {
        animation-delay: -($i - ($i/2)) + 0.5s;
    }
}
$spinner_speed: 0.675s !default;
$spinner_radius: 80% !default;
$spinner_fill_radius: 90px !default;
$spinner_size: 40px !default;
$spinner_thickness: 10px !default;
$spinner_inner_circle: $spinner_size - $spinner_thickness !default;
$spinner_color: $color1 !default;
$spinner_bg: $color4 !default;
$spinner_inner_bg: $bg_color !default;
.tcon-loader--spinner360 {
    border-radius: 80%;
    display: block;
    height: $spinner_size;
    width: $spinner_size;
    position: relative;
    animation: tcon-spin360 $spinner_speed linear infinite forwards;
    background: $spinner_bg;
    &:after,
    &:before {
        content: "";
        display: block;
        position: absolute;
    }
    &:before {
        border-radius: 0 $spinner_fill_radius $spinner_fill_radius 0;
        height: $spinner_size;
        width: 50%;
        top: 0;
        right: 0;
        z-index: 1;
        background: $spinner_color;
        background-image: linear-gradient($spinner_bg, $spinner_color);
    }
    &:after {
        border-radius: $spinner_radius;
        height: $spinner_inner_circle;
        width: $spinner_inner_circle;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        background: $spinner_inner_bg;
    }
}
@keyframes tcon-spin360 {
    to {
        transform: rotate(360deg);
    }
}