body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li,
ul {
    margin: 0;
    list-style: none;
    padding: 0;
}
button {
    cursor: pointer;
    -webkit-appearnce: none;
    box-shadow: none;
    border: 0;
}
a {
    text-decoration: none;
    color: inherit;
    &:focus,
    &:visited {
        color: inherit;
        text-decoration: none;
    }
}
input {
    // border-style: solid !important;
    //
}
button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    box-shadow: none;
    border: 0;
}
input[type=email],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
select,
textarea {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-style: solid;
    box-shadow: none;
    border-width: 1px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    // border-left:2px inset transparent;
    // border-right:2px inset
}
.ltr {
    direction: ltr;
}
textarea {
    resize: vertical;
}
input:focus,
textarea:focus {
    // outline: none !important;
    // box-shadow: 0 0 10px $color1;
    outline-color: $color1;
}
::selection {
    background: $color1;
    /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: $accent_color;
    /* Gecko Browsers */
}