$color1: #ffc107; /////////////////////
////////// JUST COLORS
// $color1: #AED581;
$color2: #212121;
$color3: #D1E3EF;
$color4: #E3E3E3;
$color5: #fff;
$color6: #607d8b;
$color7: D1E3EF; ////////
/// THEME MEDIA BREAKPOINTS
$sm: 768px;
$md: 920px;
$lg: 1200px;
$xl: 1440px; ///// THEME VARS
$nav_height: 60px; /// Z INDEXES
$z_1: 10;
$z_2: 20;
$z_3: 30;
$z_4: 40;
$z_5: 50;
$z_6: 60; ////// THEME MAIN COLORS
$primary_color: #041720; ///////
$accent_color: lighten($color1,20%); // $accent_color: #aed581;
$text-color-light: $color5;
$text-color-dark: $color2; /// FIXED COLORS
$nav_color: rgba($primary_color,0.85);
$logo_box_color: rgba($color2,0.35);
$bg_color: #f0f0f0; //////
//// blue pallete
///
$color-1: #332e6b;
$color-2: #4d487e;
$color-3: #666290;
$color-4: #807ca3;
$color-5: #9996b5;
$color-6: #b3b1c7;
$color-7: #cccbda;
$color-8: #e5e5ec;
$color-11: #20b8ff; // $color-11: #9c27b0;
$color-12: #1ca1df;
$color-13: #188abf;
$color-14: #14739f;
$color-15: #105c80;
$color-16: #0c4560;
$color-17: #082e40;
$color-18: #041720;
$color-19: rgb(96, 125, 139);
$bg_t: rgba(96, 125, 139, 0.12);