.desktop_pages_container {
    display: none;
    @extend .rounded;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    background: $nav_color;
    @include media($md) {
        display: block;
        align-self: center;
        flex: 0 1 70%;
        position: relative;
        overflow: visible;
        animation: pages-container1 0.5s forwards ease-in;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: -50vw;
            width: 50vw;
            height: 100%;
            background: $nav_color;
            // box-sizing: border-box;
        }
    }
    .pages-menu-desktop {
        li {
            text-align: center;
            width: 100%;
            display: flex;
            justify-content: center;
            a {
                color: $color4;
                font-size: 22px;
                padding: 15px 0;
                width: 100%;
                height: 100%;
                flex: 1 0 100%;
                @include media($md) {
                    color: $text-color-light;
                    font-size: 18px;
                    width: 100%;
                    flex: inherit;
                    // height: 100%;
                    height: auto;
                    transition: all 0.2s;
                    &:hover {
                        background: $color2;
                        color: $color5;
                    }
                }
            }
            @include media($md) {
                flex: 1;
            }
        }
        @include media($md) {
            display: flex;
            // padding: 15px 0;
        }
    }
}
.nav_logo {
    width: 50px;
    position: relative;
    left: 0;
    overflow: visible !important;
    fill: #fff;
    transform: scalex(2) scaley(0.8);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    &:hover {
        fill: $accent_color;
    }
}