.mobile_nav {
    display: flex;
    background: darken($color2,2%);
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $nav_height;
    z-index: $z_6;
    @include media($md) {
        display: none;
    }
    .site-logo {
        @extend .flex;
        @extend .center;
        @extend %absolute-full;
        flex: 1;
        align-self: stretch;
        width: 100vw;
        font-size: 18px;
        .logo_inner {
            color: #fff;
        }
    }
}
.nav-toggle {
    position: relative;
    z-index: $z_6;
    background: darken($color2,2%);
    width: 15%;
    top: -2.5px;
    @extend .flex;
    @extend .center;
    @include media($md) {
        display: none;
    }
}
.menu_container {
    transition: all 0.25s ease-out;
    position: fixed;
    right: 0;
    top: $nav_height;
    transform: translatex(-100%);
    left: 0;
    width: 100vw;
    background: $color2;
    color: #fff;
    bottom: 0;
    height: calc(100% - #{$nav_height});
    // min-height: calc(50vh - #{$nav_height});
    z-index: $z_6;
    @extend .flex;
    @extend .center;
    .pages-menu {
        li {
            // pointer-events: all;
            margin: 30px;
            font-size: 25px;
            text-align: center;
            position: relative;
            &:after {
                position: absolute;
                bottom: -15px;
                width: 50%;
                margin: auto;
                left: 0;
                right: 0;
                background: $color1;
                height: 2px;
                content: "";
            }
            &:first-child {
                margin-top: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
// iphone 4 to iphone 6 landscape
@media only screen and (min-device-width : 320px) and (max-device-width : 667px) and (orientation: landscape) {
    .pages-menu {
        // width: 50%;
        margin: auto;
        li {
            display: inline-block;
            width: 25%;
            text-align: center;
            margin: 0 auto;
            &:first-child {
                margin-top: 30px !important;
            }
        }
    }
}
