.main-navigation {
    display: none;
    @extend .row;
    @extend .space-between;
    @extend .container;
    @include media($md) {
        display: flex;
        height: 15vh;
        margin: auto;
        max-width: $md;
        padding: 0;
        width: 100vw;
        z-index: $z_6;
        position: relative;
    }
    @include media($lg) {
        margin: auto;
        max-width: $lg;
    }
}
.site-logo {
    flex: 0 1 10%;
}
.logo-big {
    .logo-big-inner {
        @extend .rounded;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    @include media($md) {
        // flex: 0 1 30%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        animation: logo-big 0.35s forwards ease-in;
        .logo-big-inner {
            background: $nav_color;
            padding: 0 30px;
        }
    }
}
@keyframes logo-big {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes pages-container1 {
    from {
        opacity: 0;
        transform: translatex(-100%);
    }
    to {
        opacity: 1;
        transform: translatex(0);
    }
}
.pages-menu-on {
    transform: translate(0) !important;
    &:after {
        // transition: none;
        // opacity: 1 !important;
        overflow: hidden;
        // width: 55px !important;
        right: -55px !important;
    }
}