.rtl .main-navigation {
    .logo-small {
        span {
            left: 0;
            right: -30px;
        }
    }
    .desktop_pages_container {
        animation: pages-container-rtl 0.5s forwards ease-in !important;
        @include media($md) {
            &:before {
                right: -50vw;
                left: inherit;
            }
        }
    }
}
.rtl footer {
    .footer_inner {
        .footer_left {
            text-align: left;
        }
    }
}
@keyframes pages-container-rtl {
    from {
        opacity: 0;
        transform: translatex(100%);
    }
    to {
        opacity: 1;
        transform: translatex(0);
    }
}
.rtl .links {
    > .section_title {
        @include media($md) {
            position: relative;
            right: -30px;
            left: inherit;
        }
    }
    .contact_click_item {
        a {
            span.text {
                float: right;
            }
            span:nth-child(2) {
                float: left;
                .svg-icon2 {
                    left: 5px;
                    right: inherit;
                    @include media($md) {
                        right: 15px;
                    }
                }
            }
            span:nth-child(3) {
                text-align: right;
                @include media($md) {
                    text-align: center;
                }
            }
        }
    }
}
.rtl.page-template-expertise {
    .block_item {
        &:nth-child(odd) {
            .block_text {
                text-align: right;
            }
        }
        &:nth-child(even) {
            .block_text {
                text-align: right !important;
            }
        }
    }
}
.rtl .link_item {
    @include media(0px,$md) {
        .link {
            left: 0;
            right: inherit;
        }
        .text {
            right: 0;
            left: inherit;
        }
    }
}
.rtl section.socials {
    @include media($md) {
        margin-right: auto;
        margin-left: 0;
        &:after {
            left: inherit;
            right: -30px;
        }
    }
}
.rtl.page-template-expertise {
    .gallery-cell {
        .expertise_item {
            @include media($md) {
                .img,
                .text {
                    // float: right;
                }
            }
        }
    }
}
.rtl input.error {
    box-shadow: 1px 0 0 0 red;
}
.rtl {
    .contact_msg {
        direction: rtl;
    }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 667px) and (orientation: landscape) {
    .rtl .main-navigation .pages-container .pages-menu {
        li {
            float: right;
        }
    }
}
