@import url(http://fonts.googleapis.com/earlyaccess/opensanshebrew.css); // @import "void/style.scss";
@import 'https://fonts.googleapis.com/css?family=Heebo:100,400,500,700,900';
@import "helpers/_helpers.scss";
@import "nav/_nav.scss";
@import "header/_header.scss";
@import "footer/_footer.scss";
@import "contact/_contact.scss";
@import "services/_services.scss";
@import "projects/_projects.scss";
@import "about/_about.scss";
@import "home/_home.scss";
@import "_rtl.scss";
@import "shared/_shared.scss";
@import "vendors/_vendors.scss";
body,
html {
    @include media($md) {
        height: 100%;
    }
}
body {
    overflow-x: hidden;
    overflow-y: scroll;
    min-width: 100vw;
    max-width: 100vw;
    width: 100%;
    // font-family: 'Open Sans Hebrew', sans-serif;
    font-family: 'Heebo', sans-serif;
    box-sizing: border-box;
    background-color: #fff !important;
    @include media($md) {
        min-height: 100vh;
    }
}
body.page-template-contact {
    #page {
        main {
            flex-flow: column;
        }
    }
}
body:not(.home) {
    #page {
        @include media($md) {
            main {
                z-index: $z_6;
                margin-top: 10vh;
                padding-top: 5vh !important;
                min-height: 70vh;
                display: flex;
                flex-flow: row;
                align-items: center;
            }
            header {
                width: 100vw;
                height: 25vh;
                pointer-events: none;
                position: absolute;
                overflow: hidden;
                top: 0;
                left: 0;
                right: 0;
                .cover {
                    pointer-events: none;
                    //background-color: $color1;
                    //
                    position: absolute;
                    background-attachment: fixed;
                    background-size: cover;
                    top: -5px;
                    left: -5px;
                    right: -5px;
                    bottom: -5px;
                    width: 105vw;
                    height: 105%;
                    z-index: $z_1;
                }
            }
        }
    }
}
#wpadminbar {
    display: none !important;
}