.single_project {
    // transition: all 0.2s ease-in-out;
    opacity: 0;
    // background: purple;
    height: 0;
    // margin-top: 60px;
    @extend %shadow;
    @extend .rounded;
    @include media($sm) {
        margin-right: 30px;
        margin-left: 30px;
    }
    z-index: -1;
    position: relative;
}
@keyframes fade {
    from {
        opacity: 0;
        transform: translatey(-5px);
    }
    to {
        opacity: 1;
        transform: translatey(0);
    }
}
.single_on {
    visibility: visible;
    height: 600px !important;
    // background: transparent;
    background: #fff;
    opacity: 1 !important;
    flex: 1;
    margin-top: 30px;
    z-index: $z_5;
    @include media($md) {
        height: 300px !important;
        animation: fade 0.5s;
    }
    .single_content {
        position: absolute;
        right: 0;
        top: 300px;
        bottom: 0;
        width: 100%;
        @include media($md) {
            width: 60%;
            top: 0;
        }
        margin: auto;
        h4 {
            text-align: center;
            @include underline($accent_color);
            span {
                font-size: larger;
            }
        }
        p {
            max-width: 85%;
            margin: auto;
            line-height: 2.2;
            text-align: justify;
            max-height: 175px;
            overflow: hidden;
        }
    }
    .single_gallery {
        display: block !important;
    }
}
.single_project_gallery {
    height: 300px;
    .single_project_img_box {
        position: relative;
        height: 100%;
        img {
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}
.single_gallery {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    height: 300px;
    width: 100%;
    @include media($md) {
        width: 40%;
    }
    background: $primary_color;
    img {
        max-width: 100%;
    }
}
.single_project_img_box {
    width: 100%;
}