.single main {
    align-items: flex-start !important;
    opacity: 0;
    animation: sfr 0.5s forwards ease-out;
}
.single_project_page {
    @include media(0px,$md) {
        .flickity-page-dots {
            display: none;
        }
    }
}
.single_project_page {
    width: 100%;
    @include media(0px,$sm) {
        // padding: 30px;
        padding: 1px; // ?;
    }
    .top {
        @extend .flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        display: none;
        @include media($md) {
            display: block;
        }
        button {
            @extend .btn1;
            min-width: 150px;
            height: 50px;
        }
        h4 {
            @include underline($accent_color);
            text-align: center;
            width: 100%;
            font-size: larger;
        }
    }
    .bottom {
        @include media($md) {
            display: flex;
        }
        max-width: 100%;
        width: 100%;
        .content {
            @include media(0px,$md) {
                margin-top: 200px;
                margin-bottom: 30px;
                padding-top: 15px;
                @media all and (orientation: landscape) {
                    margin: 30px auto;
                    width: 75vw;
                }
            }
            @include media($md) {
                width: 50%;
                margin-top: 30px;
            }
        }
        p {
            @include media(0px,$md) {
                border-top: 1px dashed $accent_color;
                border-bottom: 1px dashed $accent_color;
                padding-top: 15px;
                padding-bottom: 15px;
            }
            margin: 0;
            text-align: justify;
            line-height: 2.5;
            clear: both;
        }
        .gallery {
            @include media(0px,$md) {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                width: 100vw;
                height: 225px;
                overflow: hidden;
                @media all and (orientation: landscape) {
                    width: 75vw;
                    position: static;
                    margin: 30px auto auto;
                }
            }
            @include media($md) {
                width: 40%;
                order: 2;
                margin-top: 30px;
                margin-right: auto;
                position: relative;
            }
            img {
                @include media($md) {
                    border-radius: 3px;
                }
                width: 100%;
                max-width: 100%;
                object-fit: cover;
                height: 100%;
            }
        }
    }
}
.single_category_name {
    margin-top: 300px;
    font-size: smaller;
    h3 {
        font-weight: 400;
    }
    @include media($md) {
        text-align: center;
        margin-top: 55px;
    }
    @include underline($color-11);
}
.single_category_name_mobile {
    @include underline($color-11);
    font-size: smaller;
    margin-left: auto;
}
.single_tag_list {
    position: absolute;
    top: -25px;
    .tag {
        font-weight: 400;
        font-size: smaller;
        float: right;
        margin-top: 0;
        margin-left: 15px;
        @include underline($accent_color);
    }
}
.single_tag_list_mobile {
    margin-top: 30px;
    .tag {
        font-weight: 400;
        font-size: smaller;
        float: right;
        margin-top: 0;
        margin-left: 15px;
        @include underline($accent_color);
    }
}
.mobile_projects_archive_btn {
    @extend .btn1;
    // float: left;
    // clear: left;
    position: absolute;
    left: 30px;
    bottom: 30px;
    &:after {
        content: "";
        display: block;
        clear: left;
    }
}
.gallery #single_gallery {
  height: 300px;
}

.gallery_cell {
  height: 300px;
width:100%;


}
