.page-template-expertise {
    main {
        margin: 0;
        padding: 0;
        max-width: 100%;
        @include media($sm) {
            padding-right: 30px;
            padding-left: 30px;
            max-width: $sm;
            margin: auto;
        }
        @include media($md) {
            margin: auto;
            max-width: $sm;
        }
        @include media($lg) {
            // padding-right: 7.5em;
            // padding-left: 7.5em;
            // max-width: $lg;
            max-width: calc(1200px - 60px);
            margin: auto;
        }
    }
    .expertise-gallery {
        overflow: hidden;
        // border-bottom: 1px solid $color1;
        // border-radius: /5px;
        width: 100%;
        margin-bottom: 30px;
        @include media(0px,$md) {
            // margin: 50px 0;
            .flickity-page-dots .dot {
                display: none;
            }
            .flickity-prev-next-button {
                top: 15% !important;
            }
        }
    }
}
.expertise-gallery-cell {
    width: 100%;
    height: auto;
    margin-right: 10px;
    .expertise_item {
        .info {
            line-height: 2.2;
            margin-top: 15px;
            padding: 0 30px;
        }
        .text {
            margin-top: 15px;
            .title {
                text-align: center;
            }
        }
        @include media(0px,$md) {
            .img {
                height: 150px;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 150px;
                    object-fit: cover;
                }
            }
        }
        @include media($md) {
            // display: flex;
            .img {
                float: left;
                width: 40%;
                height: 450px;
                img {
                    width: 100%;
                    height: 450px;
                    object-fit: cover;
                }
            }
            .text {
                float: left;
                width: 60%;
            }
        }
    }
}