.page-template-expertise {
    @include media($md) {
        .page_title {
            flex: 1 0 100%;
            text-align: center;
            @include underline($accent_color);
        }
        main {
            flex-wrap: wrap !important;
        }
    }
}
.s_item {
    &:nth-child(odd) {
        animation: sfr 0.5s forwards ease-out;
    }
    &:nth-child(even) {
        animation: sfl 0.5s forwards ease-out;
    }
    @extend .rounded;
    flex: 0 1 calc(50% - 60px);
    margin: 30px;
    position: relative;
    height: 200px;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 1200px;
    cursor: pointer;
    @extend %shadow;
    .bottom {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
    }
    &:hover {
        .bottom {
            opacity: 1;
            transition: all 0.5s;
            // transform: translatey(0);
        }
        .top {
            transition: all 0.5s;
            // opacity: 0.3;
        }
    }
    img {
        @extend .rounded;
        -webkit-filter:grayscale(80%);
        transition: all 0.2s;
        transform: translate(0);
        max-width: 100%;
        height: 200px;
        width: 100%;
        object-fit: cover;
    }
    .s_text {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        h2 {
            background: rgba(white,0.7);
            width: 100%;
            transition: all 0.2s;
        }
        // p {
        //     transition: all 0.2s ease-in-out;
        //     position: absolute;
        //     bottom: -20px;
        //     transform: translateY(200%);
        //     background: rgba(white,0.7);
        //     // z
        //     left: 0;
        //     right: 0;
        //     z-index: $z_6;
        // }
    }
}
.s_wrapper {
    margin-bottom: 30px;
    ul {
        display: flex;
        flex-flow: row wrap;
    }
}
.s_circle {
    visibility: hidden;
}
.s_p_info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 90%;
    margin: auto;
    height: 90%;
    transform: translateX(200%);
    h4 {
        @include underline($accent_color);
        text-align: center;
        line-height: 2;
        margin: 0;
        font-weight: 500;
    }
    p {
        margin: 0;
        line-height: 2;
    }
}
.s_item_svg {
    text.s_item_title {
        font-family: 'Heebo', sans-serif;
        font-size: 17px;
        fill: #fff;
    }
    .s_item_line {
        mix-blend-mode: multiply;
        fill: url("#grd-lime");
        // fill: rgba(white,0.7);
    }
}
.s_p_img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    img {}
}