@import "_expertise.scss";
@import "_s.scss";
.page-template-services {
    main {
        @include media(0px,$sm) {
            padding-right: 30px;
            padding-left: 30px;
        }
        @include media($lg) {
            padding-right: 7.5em;
            padding-left: 7.5em;
        }
    }
}
.blocks_wrapper {
    flex: 1;
    ul {
        @include media($sm) {
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
        }
    }
}
.block_item {
    animation: sfr 0.5s forwards ease-out;
    @include media(0px,$sm) {
        margin: 50px 0 100px;
        border-radius: 5px;
        border: 1px solid $color4;
    }
    @include media($sm) {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 4.5em;
        margin-bottom: 4.5em;
        &:nth-child(even) {
            flex-flow: row-reverse;
        }
    }
    .block_text {
        border: 0 !important;
    }
    // sm +
    // shared
    .block_img {
        position: relative;
        @include media($sm) {
            display: flex;
            align-items: center;
        }
        &:before {
            position: absolute;
            width: 100%;
            height: 100%;
            content: ""; /// SHAPES ?
            z-index: -1;
        }
        img {
            width: 100%;
            height: 150px;
            border-radius: 5px;
            object-fit: cover;
            @include media($sm) {
                height: 200px;
            }
            @include media($md) {
                height: 250px;
            }
            @include media($lg) {
                height: 300px;
                max-width: 100%;
                border-radius: 5px;
            }
        }
    }
    .block_img,
    .block_text {
        width: 100%;
        @include media($sm) {
            p {
                max-width: 85%;
                margin: auto;
            }
        }
        h2 {
            @extend .section_title;
            margin-top: 30px !important;
            @include media($sm) {
                margin-top: 0 !important;
            }
        }
    }
    .block_text {
        line-height: 2.5;
        font-size: 16px;
        text-align: justify;
        p {
            padding: 0 30px;
        }
        @include media($sm) {
            padding: 0 2em 2em;
            text-align: left;
            p {
                padding: 0;
            }
        }
    }
}