#loader {
    position: absolute;
    left: calc(50% - 20px);
    top: 60%;
    display: none;
}
#loader.loader-active {
    display: block;
}
.svg_loader {
    display: none;
    overflow: visible!important;
    width: 350px;
    height: 350px;
    position: fixed;
    top: calc(50% - 250px);
    right: calc(50% - 290px);
}
.svg_loader .svg_loader_path {
    fill: transparent;
    stroke: $color1;
    stroke-dasharray: 267;
    stroke-width: 0.5;
    -webkit-animation-name: stroke;
    animation-name: stroke;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
@keyframes stroke {
    0% {
        stroke-dashoffset: 267;
        fill: transparent;
    }
    to {
        stroke-dashoffset: 0;
        fill: rgba(0, 128, 255, .1);
    }
}
