#page {
    z-index: $z_6;
}
.section_title {
    @include underline(#ffc107);
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    // animation: sft 0.2s forwards ease-out;
    &:hover {
        color: inherit;
    }
}
.page_title {
    display: none;
    @include media($sm) {
        // margin-bottom: 15px;
        display: block;
        // margin-top: 30px;
    }
    font-size: 20px;
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-size: 18px;
        font-weight: 500;
    }
    font-weight: 500;
}
.cover_title {
    @extend .flex;
    @extend .center;
    position: absolute;
    left: 0;
    right: 0;
    width: 50%;
    max-width: 200px;
    margin: auto;
    top: calc(7.5vh + 25px);
    padding: 0 15px;
    background: rgba($color1,0.9);
    @include media($md) {
        display: none;
    }
}
.page-template-contact {
    .page_title {
        display: none;
    }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 667px) and (orientation: landscape) {
    .cover_title {
        top: calc(15vh + 25px);
    }
}