@import "_home.scss";
.cover_mobile {
    position: relative;
    @include media(0px,$md) {
        background-color: $bg_t;
    }
    h5 {
        position: absolute;
        line-height: 25px;
        left: 0;
        right: 0;
        font-size: 18px;
        top: calc(50% - 12.5px);
        margin: auto;
        width: 100%;
        color: $text-color-dark;
        text-align: center;
        font-weight: normal;
        letter-spacing: 1.1px;
        position: relative;
        &:after {
            position: absolute;
            bottom: -15px;
            width: 5%;
            margin: auto;
            left: 0;
            right: 0;
            background: $color1;
            height: 2px;
            content: "";
        }
    }
}
.page-template-about {
    .cover {
        // background-position: 50%;
        background-size: cover;
        // background-color: $color1;
        // -webkit-filter:blur(5px);
        // background-blend-mode: darken;
        // -webkit-filter: saturate(120%) blur(5px);
    }
}
.page-template-contact {
    .cover {
        // background-color: $color1;
        background-size: cover;
        // background-blend-mode: darken;
        // -webkit-filter:blur(5px);
    }
}
.page-template-expertise {
    // @extend .page-template-contact;
    .cover {
        // background-blend-mode: screen;
        // background-position: 50% 100%;
    }
}
header {
    // background-color: $accent_color;
    background: transparent;
    // transition: all 0.25s cubic-bezier(0.445, 0.050, 0.550, 0.950);
    @include media(0px,$md) {
        height: 15vh;
        margin-top: 60px;
        width: 100vw;
        .cover {
            width: 100%;
            height: 100%;
            background-size: cover;
        }
    }
    .cover {
        background-size: cover;
    }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 667px) and (orientation: landscape) {
    header {
        height: 30vh;
    }
}