.home header {
    // min-height: 55vh;
    width: 100vw;
    // position: absolute;
    // top: 0;
    // left: 0;
    // right: 0;
    // background: $bg_color;
    z-index: -1;
    height: 45vh;
    .home-gallery {
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 60vh;
        .gallery-cell img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
        }
    }
}
.home main {
    min-height: 40vh;
    // margin-top: 60vh;
    @include media(0px,$md) {
         @include landscape{
            // margin-top: 70vh;
            margin-right: auto;
            margin-left: auto;
            max-width: 85%;
        }
    }
    @include media($md) {
        display: flex;
        align-items: center;
        // margin-top: 45vh;
    }
    @include media($xl) {
        // margin-top: 35vh;
        // margin-top: 40vh;
    }
}
body:not(.home) main {
    @include media(0px,$md) {
        min-height: 70vh;
    }
}
.home {
    .gallery {
        outline: none !important;
    }
    .flickity-slider {
        overflow: hidden;
        width: 100vw;
        transform: none !important;
    }
    .gallery-cell {
        left: 0 !important;
        // opacity: 0;
        width: 100%;
        transition: opacity 0.2s ease-in-out;
        z-index: -1;
    }
    .gallery-cell.is-selected {
        opacity: 1;
        z-index: 0;
    }
    .flickity-prev-next-button {
        display: none;
    }
    .gallery {
        background: #FAFAFA;
        height: 100%;
    }
    .gallery-cell {
        width: 100%;
        outline: 0;
        height: 100%;
        margin-right: 10px;
        background: transparent;
        img {
            width: 100vw;
            height: 100%;
            object-fit: cover;
            @include media($sm) {
                // height: auto;
                // width: auto;
            }
        }
    }
    /* cell number */
    .gallery-cell:before {
        display: block;
        text-align: center;
        line-height: 200px;
        font-size: 80px;
        color: white;
    }
    .flickity-page-dots {
        display: none;
        bottom: 10px;
    }
}
// iphone 4 to iphone 6
@media only screen and (min-device-width : 320px) and (max-device-width : 667px) and (orientation: landscape) {
    // .home header {
    //     height: 100vh;
    // }
    .home .gallery-cell {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.gallery-cell.is-selected {
    animation: zoom 10s alternate infinite;
}
@keyframes zoom {
    from {
        transform: scale(1.5);
    }
    to {
        transform: scalex(1);
    }
}