footer {
    // min-height: 70px;
    // display: none;
    @extend .container; //     position: fixed;
    @include media($md) {
        display: block;
    }
    .footer_inner {
        border-top: 1px solid $primary_color;
        height: 50px;
        padding-top: 3px;
        &:after {
            display: block;
            clear: both;
            content: "";
        }
        @include media(0px,$md) {
            > .footer_right {
                float: right;
            }
            > .footer_left {
                float: left;
            }
        }
        @include media($md) {
            display: flex;
            justify-content: space-between;
        }
        .footer_left {
            color: $color4;
            flex: 1;
            text-align: right;
        }
    }
}