// .about-gallery {
//     background: #FAFAFA;
//     margin-bottom: 40px;
//     width: 100%;
// }
// .gallery-cell {
//     width: 66%;
//     height: 200px;
//     margin-right: 10px;
//     background: #8C8;
//     counter-increment: gallery-cell;
// }
// /* cell number */
// .gallery-cell:before {
//     display: block;
//     text-align: center;
//     content: counter(gallery-cell);
//     line-height: 200px;
//     font-size: 80px;
//     color: white;
// }
// .gallery-nav .gallery-cell {
//     height: 80px;
//     width: 100px;
// }
// .gallery-nav .gallery-cell:before {
//     font-size: 50px;
//     line-height: 80px;
// }
// .gallery-nav .gallery-cell.is-nav-selected {
//     background: #ED2;
// }
//
.about_nav {
    @extend .flex;
    // background: lighten($bg_t,25%);
    border-bottom: 1px solid $accent_color;
    width: 100%;
    flex: 1;
    margin: auto;
    // position: absolute;
    top: 0;
    left: 0;
    right: 0;
    // max-width: 250px;
    height: 150px;
    justify-content: space-between;
    text-align: center;
    h4 {
        padding: 0 30px;
    }
    .icon-boss,
    .icon-info {
        margin: 15px;
        width: 50px;
        svg {
            fill: $bg_t;
        }
    }
    .icon-on {
        svg {
            fill: $color-19;
        }
    }
}
.profile_gallery {
    min-height: calc(60vh - 150px);
    height: 100%;
    margin-bottom: 30px;
    .gallery_item {
        width: 100%;
        h4 {
            @include underline($color-19);
            text-align: center;
            margin-bottom: 0;
            font-weight: 500;
            span.name {
                font-size: 20px;
            }
        }
        div.role {
            color: grey;
            font-size: 12px;
            // margin-right: 5px;
            text-align: center;
            font-style: italic;
        }
        p {
            padding: 0 30px;
            line-height: 2;
            text-align: justify;
        }
    }
    .flickity-page-dots {
        bottom: -5px;
    }
    .flickity-prev-next-button.previous {
        left: -20px;
        background: $bg_t;
        svg path {
            fill: $accent_color;
        }
    }
    .flickity-prev-next-button.next {
        right: -20px;
        background: $bg_t;
        svg path {
            fill: $accent_color;
        }
    }
}
.members_gallery {
    display: none;
    @extend .profile_gallery;
}