@import "_aboutMobile.scss";
.page-template-about {
    main {
        // flex-wrap: wrap !important;
        // align-items: flex-start !important;
        display: block !important;
        position: relative;
    }
    .page_title {
        height: 75px;
        flex: 1 0 100%;
    }
}
.about_tree_wrapper {
    flex: 0 1 40%;
    @extend .flex;
    border-right: 1px solid $accent_color;
    height: 100%;
    margin-bottom: 30px;
    flex-wrap: wrap;
    animation: sfr 0.2s ease-in-out;
}
.tree_wrap {
    position: relative;
    margin-bottom: 50px;
    flex: 1 0 100%;
    .root {
        height: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        right: 55px;
        bottom: 0;
        h4 {
            font-weight: 500;
        }
        .icon_nav.icon_on {
            g {
                fill: $color-19;
                transition: all 0.2s;
            }
        }
        h4 span {
            position: relative;
            color: $primary_color;
            &:before {
                position: absolute;
                top: 50%;
                width: 40px;
                background: $accent_color;
                // background:
                height: 1px;
                right: -55px;
                content: "";
            }
        }
        svg {
            transition: all 0.2s;
            > g {
                transition: all 0.2s;
                fill: rgba(96, 125, 139, 0.12);
            }
        }
    }
    .branches {
        right: 190px;
        position: relative;
        .branch {
            cursor: pointer;
            margin: 30px 0;
            position: relative;
            padding-right: 15px;
            transition: all 0.2s;
            @include underline($bg_t);
            &:hover {
                @include underline($color-11);
            }
            span:nth-child(1) {
                width: 10px;
                height: 10px;
                position: absolute;
                content: "";
                border-radius: 50%;
                background: lighten($accent_color,15%);
                top: calc(50% - 5px);
                right: -15px;
            }
            span.t1 {
                top: calc(50% - 7.5px);
            }
            span.t2 {
                top: calc(50% - 5px);
            }
            span.t3 {
                top: calc(50% - 2.5px);
            }
        }
    }
}
.vr {
    width: 1px;
    height: 100%;
    margin-right: 35px;
    height: 115px;
    background: $accent_color;
    position: relative;
    transition: all 0.2s;
    span {
        width: 45px;
        height: 1px;
        position: absolute;
        content: "";
        background: $accent_color;
        right: 0;
        transition: all 0.2s;
    }
    span:nth-child(1) {
        top: 0;
    }
    span:nth-child(2) {
        top: calc(50% - 0.5px);
    }
    span:nth-child(3) {
        bottom: 0;
    }
}
.about_info_wrapper {
    flex: 0 1 50%;
    padding-top: 30px;
    margin-right: auto;
    display: flex;
    flex-flow: column;
    height: 100%;
    .info_top {
        min-height: 225px;
        position: relative;
        img {
            @extend .rounded;
            @extend %shadow;
            position: absolute;
            width: 100%;
            height: 225px;
            object-fit: cover;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
    }
    .info_bottom {
        align-self: flex-end;
        p {
            line-height: 2.5;
            text-align: justify;
        }
    }
}
.about_wrapper {
    width: 100%;
    animation: sfr 0.5s ease-in-out;
    display: flex;
}
.selected-branch {
    background: #90a4ae !important;
}